<div id="main">
    <div class=" mt col-sm-12">
        <div class="flex-row-gap">
             <mat-form-field appearance="fill">
               <mat-label>Email</mat-label>
                <input type="email" matInput>
             </mat-form-field>
             <mat-form-field appearance="fill">
               <mat-label>Contenu</mat-label>
                <input type="text" matInput>
             </mat-form-field>
             <div class="align-center">
               <button mat-mini-fab color="primary" ><mat-icon>search</mat-icon></button>
             </div>
    
           </div>
    </div>
    <div class="col-sm-12 mt mb">
        <div class="align-right">
            <button mat-raised-button color="primary" (click)="newMail()">Nouveau message</button>
        </div>
    </div>
    <div class="row container-fluid mailbox mt">
        
        <div class=" col-sm-12 mailbox-item" *ngFor="let i of [1,1,1,1]">
            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
               <div class="">
                    Fatim Diop
               </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7 center-row">
               <div class="">
                Demande d'information supplémentaire APIX - Bonjour, Veuil...
               </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2">
                <div class="align-center">
                   <span> 22h30 </span>
                
                    <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>visibility</mat-icon>
                          <span>voir</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon color="warn">delete</mat-icon>
                          <span>supprimer</span>
                        </button>
                       
                       
                      </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>