mat-toolbar-row {
    overflow: hidden;
    padding: 15px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }
  
  .default {
    width: calc(100vw - 240px);
  }
  
  .normal {
    width: 100vw;
  }
  
  #menu {
    display: flex;
    justify-content: space-between;
  
    #close {
      .icon-menu {
        cursor: pointer;
      }
    }
  
    .right-icon {
      display: flex;
      justify-content: space-around;
      .icon {
        width: 40px;
        padding: 0;
        margin: 0;
        mat-icon {
          transform: scale(2);
        }
      }
      span {
        cursor: pointer;
      }
    }
  }
  
  @media (max-width: 768px) {
    .default {
      width: 100vw;
    }
  }
  
  .severe{
    width: 1em;
    height: 1em;
    border-radius: 7em;
    background-color: red;
    display: inline-block;
    content: " ";
    align-content: baseline;
}

.moyen{
  width: 1em;
  height: 1em;
  border-radius: 7em;
  background-color: orange;
  display: inline-block;
  content: " ";
  align-content: baseline;
}

.faible{
  width: 1em;
  height: 1em;
  border-radius: 7em;
  background-color: var(--blue);
  display: inline-block;
  content: " ";
  align-content: baseline;
}

p {
  
  span{
  // margin: 1em;
  padding: 0.5em;
  font-size: 0.9em;
  display: inline-block;
  align-content: baseline;
  }
  border-bottom: solid 1px lightgray;
}

select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
  border: 0;
  font-size: 0.7em;
  padding-right: 1em;
  outline: 0;
}

.lang{
  color: var(--blue);
  select &:hover{
      color: black;
  }
}

.admin-img{
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
}