<mat-toolbar [ngClass]="[width_header]">
    <mat-toolbar-row id="menu">
      <div id="close">
        <button mat-icon-button (click)="toggleSideBar()">
          <mat-icon class="icon-menu">menu</mat-icon>
        </button>
        <!-- <button  class="btn btn-warning " style="margin-left: 30px;"><a (click)="createProject()" style="color: white;">Nouveau projet</a></button> -->
      </div>
      <span style="margin: auto; font-size: 0.9em;">Plateforme de relation d'affaires</span>

      <div class="right-icon">
        <span style="margin-right: 25px; margin-top: 10px;"  [matMenuTriggerFor]="menu1">
          <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
        </span>
        <span class="icon" [matMenuTriggerFor]="menu">
          <img src="assets/img/admin.png" alt="" class="admin-img">
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deconnexion()">
            <mat-icon>exit_to_app</mat-icon>
            Déconnexion
          </button>
          <button mat-menu-item (click)="profil()">
            <mat-icon>person</mat-icon>
            Infos Personnelles
          </button>
          <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            Modifier Mot De Passe
          </button>
        </mat-menu>

        <mat-menu #menu1="matMenu">
          <p class="ml mr"> <span class="severe"></span> <span>Nouveau projet</span> <span>ajout</span> <span>1mn</span></p>
          <p class="ml mr"> <span class="moyen"></span> <span>Nouveau projet</span> <span>ajout</span> <span>1mn</span></p>
          <p class="ml mr"> <span class="faible"></span> <span>Nouveau projet</span> <span>ajout</span> <span>1mn</span></p>
          <div class="ml mr"><button (click)="openListeAlerte()" mat-stroked-button class="w-100" color="primary">voir toutes les alertes</button></div>
          <!-- <p style="padding: 0px 10px; font-weight: bold;"><span style="color: orangered;">16</span> nouveaux inscrits</p>
         <p style="padding: 0px 10px; font-weight: bold;"><span style="color: orangered;">23</span> nouveaux projets</p> -->
        </mat-menu>
      </div>
      <span style="margin: 0.5em;"></span>
      <div class="lang" >
        <!-- <mat-icon class="icon-lang">language</mat-icon> -->
        <span class="fa fa-language"></span>
        <select>
          <option checked>FR</option>
          <option>EN</option>
        </select>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  