<div class="container-fluid ">
   <div class="container-fluid bg-blue br">
    <div class="w-100 center-column container-fluid">
        <!-- <h3>Votre projet</h3> -->
    </div>
    <div class="center-column" >
        <div class="center-row">
                <a routerLink="general" routerLinkActive="active">Projet</a>
                <a routerLink="dossier-financier"  routerLinkActive="active" >Dossier financier</a>
                <a routerLink="bminfos" routerLinkActive="active">Business modèle</a>
                <a routerLink="promotteur" routerLinkActive="active">Promoteur</a>
        </div>
    </div>
   </div>
</div>