.bg-blue{
    background-color: var(--blue);
}
h3{
    color: white;
    text-transform: none;
    font-weight: bold;
}
a{
    margin:1.5em;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    color: white;
    font-weight: bold;
    padding: 0.7em;

    &:hover{
        color: var(--orange);
        border-bottom: 0.3em solid var(--orange);

    }

    
}

.active{
    color: var(--orange);
    border-bottom: 0.3em solid var(--orange);

}

@media (max-width: 800px) {
    .center-row {
      flex-direction: column;
    }
  }