<header class="header">
    <div class="header-top bg-theme-colored sm-text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="widget no-border m-0">
              <ul
                class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm flip sm-pull-none sm-text-center mt-sm-15">
                <li><a href="#"><i class="fa fa-facebook text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram text-white"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin text-white"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="widget no-border m-0">
              <ul class="list-inline pull-right sm-pull-none sm-text-center mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a href="#"
                    class="text-white">Tél: (+221) 33 849 05 55</a>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope text-white"></i> <a href="#"
                    class="text-white">infos@apix.sn</a>
                </li>
               
      
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
        <div class="container-fluid">
          <nav id="menuzord-right" class="menuzord default no-bg">
            <a class="menuzord-brand pull-left flip" href="index.html"><img src="assets/apix2/images/Menu_Logo.png"
                alt="logo apix"></a>
            <ul class="menuzord-menu onepage-nav">
              <li class="active"><a href="index.html">Accueil</a></li>
              <li><a href="#about">À propos</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="">Inscription</a></li>
              <li><a href="">Connexion</a></li>
              <li class="language"><a href=""><img class="lang-fr" src="assets/apix2/images/france.png" alt=""></a></li>
              <li class="language"><a href=""><img class="lang-ang" src="assets/apix2/images/royaume-uni.png" alt=""></a></li>
          
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>