<div class="container-fluid mt pt">
    <div class="row">
        <div class="center-column col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <img src="assets/profil.png" alt="" class="img-circle">
        </div>

        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Nom complet</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Sexe</mat-label>
                        <mat-select>
                            <mat-option value="homme">Homme</mat-option>
                            <mat-option value="femme">Femme</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Date naissance</mat-label>
                        <input type="date" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Lieu naissance</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Adresse</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Profession</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Situation matrimoniale</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 col-md-3">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Diplôme</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Présentation</mat-label>
                        <textarea type="text" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input type="phone" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="Email" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
            <div class="col-sm-12 col-xs-12 col-lg-4 col-md-4">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Projet</mat-label>
                        <textarea type="text" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-4 col-md-4">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Expériences</mat-label>
                        <textarea type="text" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-4 col-md-4">
                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Etudes</mat-label>
                        <textarea type="text" matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row col-sm-12 center-column container-fluid " >
            <div class="center-row">
                <button mat-raised-button color="primary">Enregistrer</button>                
            </div>
            
        </div>
    </div>
</div>