<app-toolbar></app-toolbar>
<div class="main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <img class="br" src="assets/img/cover2.jpeg" style="width: 100%;" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class=".h3">Sénégal : Lancement d’un projet d’innovation agricole</h3>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                En effet, ce projet a pour ambition de générer de l’information sur les besoins en matière de renforcement de capacités et d’élaboration de stratégie, d’instruments et de politiques d’appui à l’innovation agricole; d’appuyer les dynamiques en cours de transformation des systèmes agricoles et alimentaires vers plus de résilience et de durabilité et enfin de créer un environnement plus favorable pour les innovateurs.

D’une durée de deux ans (2021-2023), le projet Tap-Ais intervient dans neuf pays: cinq en Afrique (Burkina Faso, Érythrée, Malawi, Rwanda et Sénégal), trois en Asie (Cambodge, Laos et Pakistan) et un en Amérique latine (Colombie). Il est mis en œuvre par l’Organisation des Nations Unies pour l’alimentation et l’agriculture (Fao) et est coordonné par le ministère de l’Agriculture et de l’Équipement rural (Maer) du Sénégal.

Le projet Tap-Ais accompagnera le gouvernement du Sénégal dans sa stratégie de mise en œuvre de la transition agroécologique inscrite dans l’agenda politique depuis 2019. Les autorités sénégalaises s’appuieront sur ce projet, pour renforcer les collaborations entre la recherche agricole, le conseil agricole et rural, les institutions nationales, les organisations non gouvernementales et les interprofessions.

«C’est un projet stratégique qui va permettre au gouvernement de disposer d’informations fiables et pertinentes. Le Sénégal accompagnera sa mise en œuvre par le renforcement de l’environnement favorable à l’innovation pour les programmes d’assistance aux petits producteurs vulnérables confrontés aux nombreux défis récurrents dont l’accès aux marchés, la fluctuation des prix, l’accès aux innovations technologiques et le changement climatique», a déclaré, Pape Malick Ndao, secrétaire général du ministère de l’Agriculture et de l’Equipement rural.

«L’accompagnement des systèmes nationaux d’innovation agricole s’appuie sur le Cadre commun de travail développé par la Tap par le renforcement des capacités des acteurs pour une résilience de nos populations et la réduction de la pauvreté grâce à un système national agricole performant et adapté pour le développement d’une agriculture résiliente et durable», a souligné l’assistant au Représentant de la Fao au Sénégal et chargé de programme, Makhfousse Sarr.

«Des innovations sont indispensable pour relever les défis qui affectent la durabilité de nos systèmes alimentaires et agricoles et DeSira est une plateforme destinée à améliorer l’accès des agriculteurs à l’innovation grâce à une meilleure intégration de la recherche agricole pour les plus pauvres», a expliqué le chef d’équipe emploi et croissance inclusive à la Délégation de l’Ue au Sénégal, Stéphane Devaux.
            </div>
        </div>
       
        <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
            <h3>Articles recommandés</h3>
            <div class="row latest-posts-content">
                <!-- Article Starts -->
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" *ngFor="let i of [1,2,3]" >
                    <div class="latest-post">
                        <!-- Featured Image Starts -->
                        <a class="img-thumb" routerLink="../article-detail"><img class="img-responsive" src="assets/img/cover1.jpg" style="max-height: 100; width: 100;" alt="img"></a>
                        <!-- Featured Image Ends -->
                        <!-- Article Content Starts -->
                        <div class="post-body">
                            <h4 class="post-title">
                                <a routerLink="../article-detail">how to be a good freelancer ?</a>
                            </h4>
                            <div class="post-text">
                                <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud...</p>
                            </div>
                        </div>
                        <!-- Post Date Starts -->
                        <div class="post-date">
                            <span>18</span>
                            <span>AUG</span>
                        </div>
                        <!-- Post Date Ends -->
                        <a class="custom-button pb" routerLink="../article-detail">Read more</a>
                        <!-- Article Content Ends -->
                    </div>
                    <hr>
                </div>
                <!-- Article Ends -->
                
            </div>
        </div>
    </div>
</div>

<app-site-footer></app-site-footer>