<div class="col-sm-12 center-column">
    <div class="br row mat-elevation-z2 col-sm-12 pt pb" style="background-color: white; padding-top: 2em; padding-bottom:1em">
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input type="Téléphone" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Fonction</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Structure</mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Matricule</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Profil</mat-label>
                    <mat-select>
                        <mat-option value="administrateur" >Administrateur</mat-option>
                        <mat-option value="intervenant">Intervenant</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12" mat-dialog-actions>
                <button type="button" mat-stroked-button color="warn" mat-dialog-close="">fermer</button>
                    &nbsp;&nbsp;
                <button type="submit" mat-raised-button color="primary">enregistrer</button>
            </div>
    </div>
</div>