<section class="main container-fluid">
    
    <div class="center-column ">
        <div class="col-xs-12 col-lg-5 col-md-5 col-sm-12">
            <form class=" container-fluid mat-elevation-z2 pb pt br" >
                <div class="container-fluid mt center-column">
                    <strong class="text-primary">Inscription</strong>
                </div>
                <div class="container-fluid mt center-column">
                    <img src="assets/img/auth.svg" width="200px" height="100px" alt="">
                </div>
                <div class=" container-fluid mt">
                    <mat-form-field  class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Profil</mat-label>
                        <mat-select>

                        </mat-select>
                    </mat-form-field>
                </div>

                <div class=" container-fluid">
                    <mat-form-field  class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Nom complet</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>

                
                <div class=" container-fluid">
                    <mat-form-field  class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput>
                    </mat-form-field>
                </div>

                <div class=" container-fluid">
                    <mat-form-field  class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input type="phone" matInput>
                    </mat-form-field>
                </div>

                
                <div class="container-fluid center-column pb mb">
                    <button color="primary" mat-stroked-button>S'inscrire</button>
                </div>
                <div class="container-fluid center-column pb mb">
                    
                </div>
                
            </form>
           
        </div>
    </div>
   
</section>