.bg-img{
    // margin-top: 4%;
    background-image: url('/assets/img/backchiffre.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white{
    background-color: white;
}