<app-toolbar></app-toolbar>
<div class="main-content" style="background-color: white;">
    
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="https://www.agera.asso.fr/app/uploads/2020/08/Projet.jpg" >
        <div class="container-fluid pt-100 pb-50">
          <!-- Section Content -->
          <div class="section-content pt-100">
            <div class="row"> 
              <div class="col-md-12">
                <h3 class="title text-white">Porteur de projet </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Section: Causes -->
      <section>
        <div class="container-fluid">
          <div class="row mtli-row-clearfix">
            <div class="col-sm-6 col-md-8 col-lg-8">
              <div class="causes bg-white maxwidth500 mb-30">
                <div class="thumb">
                  <img src="assets/apix2/images/porteur8.jpg" alt="" class="img-fullwidth">
                  
                </div>
                <div class="causes-details clearfix  border-bottom-theme-color-1px p-15 pt-10 pb-10">
                  <h5 class="font-weight-600 font-16"><a href="projetdaralbi-detail.html">Amadou Sow  </a></h5>
                  <p>Production et la vente de noix de cajou
                  </p>
                 
                </div>
              </div>
              <div class="event-details">
                <p class="mb-20 mt-20">
                  1. Comment avez-vous apprécié votre participation au Sommet Entrepreneuriale de l'Afrique au Ghana?
  
  Pleine d’enseignements, de rencontres et d’émulation avec d’autres entrepreneurs.
  
  2. Quels ont été les points saillants de votre participation au Sommet?
  
  C’est particulièrement le forum sur « branding African food for a global market ». Un panel d’entrepreneurs certifiés qui revisitent la cuisine ghanéenne aux saveurs internationales. Ils ont partagé leurs réussites, leurs échecs, leurs parcours en général.
  
  Mais aussi l’opportunité qui m’a été donnée d’occuper un stand et de parler de mon projet.
  
  3. Quels projets ou quels individus ont laissés une impression sur vous au Sommet et pourquoi?
  
  Les entrepreneurs que j’ai rencontrés sont pratiquement tous dans le « local ». Certains m’ont marquée de par leur originalité et leur réussite. Pour exemple, le célèbre Fred Apaloo, jeune entrepreneur ghanéen avec son restaurant Villa Grace qui revisite la cuisine locale. Dans ses brunchs, il met un point d’honneur à ne jamais perdre le cœur, ghanéen, du plat qu’il présente tout en s’ouvrant aux saveurs, épices étrangères, pour proposer une expérience unique de cuisine fine et internationale.
  
  J’ai été particulièrement séduite par 3 très jeunes entrepreneurs (moins de 25ans) avec leurs projets de transformation locale du cacao. Ils commercialisent tous les 3 du chocolat, mais chaque projet est unique de par son offre et sa présentation. Des jeunes très dynamiques qui ont réussi, en plus ou moins 2 ans, à faire passer leurs projets de la phase d’idée à la commercialisation en grandes surfaces aux côtés de grandes marques occidentales.
  
  Mon coup de cœur reste cependant Mme Dedo Azu fondatrice du très célèbre Tea Baa. Un tout petit coin où toutes les couches de la société ghanéenne aiment se retrouver autour d’un thé rafraîchissant aux saveurs uniques et souvent servi dans un « mason jar » ! Un joyau caché mais connu de tous et reconnu par tous. Un exemple qui me parle particulièrement puisque me confortant dans l’idée que j’avais déjà de la boutique MILMAIS à savoir un endroit chaleureux où chaque client vit une expérience unique.
  
  4. Quels ont été vos plus grandes leçons à retenir de la saison 3 Entrepreneur grande compétition?
  
  J’ai appris à communiquer de manière plus efficace et qui plus est devant un public.
  
  5. Quelle est la chose que vous aimeriez avoir connue lorsque vous vous êtes embarqué dans votre vie d'entrepreneur?
  
  Je suis issue d’une famille d’entrepreneurs. J’ai donc très tôt baigné dans ce monde et je savais déjà à quoi m’en tenir.
  
  6. Quel conseil avez-vous pour les autres jeunes entrepreneurs au Sénégal?
  
  Si vous avez un projet, que vous êtes prêts à vous investir physiquement, émotionnellement et financièrement, lancez-vous. Ignorez les sceptiques, armez vous de patience et persévérez. Le chemin sera long et parsemé d'embûches mais le succès est au bout.
                  </p>
                <div class="pull-left flip mr-15">
                   </div>
                <div class="">
                  <img src="https://www.vudaf.com/wp-content/uploads/2021/11/cover-r4x3w1000-602a50f48d07b-dffcdc92bec47457e082f05e2c5209260c846a22-jpg.jpg" alt="">
                </div>
            
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
              <div class="sidebar sidebar-right mt-sm-30">
                <div class="widget">
                  <h4 class="widget-title line-bottom">A voir aussi</h4>
                  <ul class="list-divider list-border list check">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Inscription</a></li>
                    <li><a href="#">Connexion</a></li>
                  </ul>
                </div>
                <!--
                <div class="widget">
                  <h4 class="widget-title line-bottom">Twitter Feed</h4>
                  <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
                </div>
                <div class="widget">
                  <h5 class="widget-title line-bottom">Image gallery with text</h5>
                  <div class="owl-carousel-1col">
                    <div class="item">
                      <img src="https://placehold.it/365x230" alt="">
                      <h4 class="title">This is a Demo Title</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                    </div>
                    <div class="item">
                      <img src="https://placehold.it/365x230" alt="">
                      <h4 class="title">This is a Demo Title</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                    </div>
                    <div class="item">
                      <img src="https://placehold.it/365x230" alt="">
                      <h4 class="title">This is a Demo Title</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                    </div>
                  </div>
                </div>
                 -->
                <div class="widget">
                  <h4 class="widget-title line-bottom">Tags</h4>
                  <div class="tags">
                    <a href="#">Santé</a>
                    <a href="#">Education</a>
                    <a href="#">Technologie</a>
                    <a href="#">Industrie et Commerce</a>
                    <a href="#">Elevage</a>
                    <a href="#">Agriculture</a>
                    <a href="#">Transport</a>
                    <a href="#">Energie et Mine</a>
                  </div>
                </div>
                <h4 class="widget-title line-bottom">Porteurs de projets</h4>
                <div class="causes bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="assets/apix2/images/porteur2.jpg" alt="" class="img-fullwidth">
                    
                  </div>
                  <div class="causes-details clearfix  border-bottom-theme-color-1px p-15 pt-10 pb-10">
                    <h5 class="font-weight-600 font-16"><a href="projetdaralbi-detail.html">Astou Lô | Élevage de veaux</a></h5>
                    <p>Gérant de la boulangerie/pâtisserie artisanale Milmais. 
                    </p>
                   
                  </div>
                </div>
  
                <div class="causes bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="assets/apix2/images/porteur5.jpg" alt="" class="img-fullwidth">
                   
                  </div>
                  <div class="causes-details clearfix  border-bottom-theme-color-1px p-15 pt-10 pb-10">
                    <h5 class="font-weight-600 font-16"><a href="projetdaralbi-detail.html">Omar Fall | Élevage de moutons pour la Tabaski</a></h5>
                    <p>Gérant de la boulangerie/pâtisserie artisanale Milmais. 
                    </p>
                   
                  </div>
                </div>
                <div class="causes bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="assets/apix2/images/porteur6.jpg" alt="" class="img-fullwidth">
                   
                  </div>
                  <div class="causes-details clearfix  border-bottom-theme-color-1px p-15 pt-10 pb-10">
                    <h5 class="font-weight-600 font-16"><a href="projetdaralbi-detail.html">Fallou Ndime | Aviculture</a></h5>
                    <p>Gérant de la boulangerie/pâtisserie artisanale Milmais. 
                    </p>
                   
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Divider: Video Tour -->
      <section class="divider parallax layer-overlay overlay-dark-9" data-bg-img="https://investinsenegal.com/wp-content/uploads/2018/07/APIX-Background.jpg" data-parallax-ratio="0.7">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <a href="https://youtu.be/vTHttDem8NI" data-lightbox-gallery="youtube-video"><i class="fa fa-play-circle text-theme-colored font-72"></i></a>
                  <h2 class="text-white text-uppercase font-48 font-weight-700 mb-0">Presentation<span class="text-theme-colored"> Du projet</span> </h2>
                  <p class="font-16 text-white">Les jeunes ont compris que l’Etat ne peut pas tout faire. Il est impératif de sortir des sentiers battus pour créer, innover, tomber, se relever, échouer mais aussi et surtout réussir. 
                    SeptAfrique est là pour accompagner et encourager ceux qui ont OSÉ entreprendre, ceux qui ont agis: Les Grands Faiseurs. 
                    Le cinquième  numéro de votre émission ''ILS ONT OSÉ'' reçoit Mouhamed T. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
<div class="main">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
            <div class="col-sm-12">
                <img class="" src="{{projet?.img}}" style="width: 100%;" alt="">
            </div>
            <div class="col-sm-12">
                <h3>{{projet?.titre}}</h3> 
            </div>
            <div class="col-sm-12">
                <div class="center-column">
                    <!-- Tabs Heading Starts -->
                <ul class="nav nav-tabs">
                   <li class="active"><a data-toggle="tab" href="#p1">Description</a></li>
                   <li ><a data-toggle="tab" href="#p2">Promoteur</a></li>
                   <li ><a data-toggle="tab" href="#p3">Partenaires</a></li>
                   <li><a data-toggle="tab" href="#p4"><span class="fa fa-comment"></span> Commentaire</a></li>

                </ul>
               <!-- Tabs Heading Ends -->
                </div>
                <div class="tab-content mb">
                    <div id="p1"  class="tab-pane fade in active">
                        <div class="row col-sm-12">
                            <div class="col-sm-12 basic-infos">
                                <div class="col-sm-4">
                                    <span class="fa fa-money"></span> 450 000 000
                                </div>
                                <div class="col-sm-4">
                                    <span class="fa fa-map-marker"></span> Louga
                                </div>
                                <div class="col-sm-4">
                                    <span class="fa fa-star"></span> 2400 pts
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p [innerHTML]="projet?.content">
                                 En effet, ce projet a pour ambition de générer de l’information sur les besoins en matière de renforcement de capacités et d’élaboration de stratégie, d’instruments et de politiques d’appui à l’innovation agricole; d’appuyer les dynamiques en cours de transformation des systèmes agricoles et alimentaires vers plus de résilience et de durabilité et enfin de créer un environnement plus favorable pour les innovateurs.
     
                                 D’une durée de deux ans (2021-2023), le projet Tap-Ais intervient dans neuf pays: cinq en Afrique (Burkina Faso, Érythrée, Malawi, Rwanda et Sénégal), trois en Asie (Cambodge, Laos et Pakistan) et un en Amérique latine (Colombie). Il est mis en œuvre par l’Organisation des Nations Unies pour l’alimentation et l’agriculture (Fao) et est coordonné par le ministère de l’Agriculture et de l’Équipement rural (Maer) du Sénégal.
                                 
                                 Le projet Tap-Ais accompagnera le gouvernement du Sénégal dans sa stratégie de mise en œuvre de la transition agroécologique inscrite dans l’agenda politique depuis 2019. Les autorités sénégalaises s’appuieront sur ce projet, pour renforcer les collaborations entre la recherche agricole, le conseil agricole et rural, les institutions nationales, les organisations non gouvernementales et les interprofessions.
                                 
                                 «C’est un projet stratégique qui va permettre au gouvernement de disposer d’informations fiables et pertinentes. Le Sénégal accompagnera sa mise en œuvre par le renforcement de l’environnement favorable à l’innovation pour les programmes d’assistance aux petits producteurs vulnérables confrontés aux nombreux défis récurrents dont l’accès aux marchés, la fluctuation des prix, l’accès aux innovations technologiques et le changement climatique», a déclaré, Pape Malick Ndao, secrétaire général du ministère de l’Agriculture et de l’Equipement rural.
                                 
                                 «L’accompagnement des systèmes nationaux d’innovation agricole s’appuie sur le Cadre commun de travail développé par la Tap par le renforcement des capacités des acteurs pour une résilience de nos populations et la réduction de la pauvreté grâce à un système national agricole performant et adapté pour le développement d’une agriculture résiliente et durable», a souligné l’assistant au Représentant de la Fao au Sénégal et chargé de programme, Makhfousse Sarr.
                                 
                                 «Des innovations sont indispensable pour relever les défis qui affectent la durabilité de nos systèmes alimentaires et agricoles et DeSira est une plateforme destinée à améliorer l’accès des agriculteurs à l’innovation grâce à une meilleure intégration de la recherche agricole pour les plus pauvres», a expliqué le chef d’équipe emploi et croissance inclusive à la Délégation de l’Ue au Sénégal, Stéphane Devaux.
                                      
                                </p>
                            </div>   
                        </div>
                           
                    </div>
                    <div id="p2"  class="tab-pane fade">
                       <div class="row col-sm-12">
                           <h3>Omar Wade</h3>
                       </div>
                       <div class="row col-sm-12">
                           <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero felis, egestas at felis sit amet, bibendum posuere risus. Donec vitae diam ut orci bibendum gravida. Donec lectus lacus, porttitor a felis ac, finibus pharetra diam. Donec eleifend sapien non ipsum ornare, et tempus urna tempor. Duis scelerisque eros at nisi commodo volutpat. Ut finibus blandit mollis. Vestibulum ligula urna, aliquet non sodales vel, vehicula id odio. Morbi non ex in dui placerat ultrices. Integer imperdiet at magna quis condimentum. Donec eleifend venenatis leo in feugiat. Proin blandit, enim cursus venenatis bibendum, elit orci fermentum turpis, nec maximus odio risus ac libero.

                            Fusce feugiat id tellus eget tincidunt. In hac habitasse platea dictumst. Vestibulum et arcu consectetur, porta orci nec, pharetra nisi. Maecenas sodales sollicitudin mauris, nec dapibus lectus aliquam et. Donec pretium ex sed arcu porta fermentum. Etiam euismod elit mattis vulputate lobortis. Proin sollicitudin purus odio, ac pellentesque ipsum eleifend eget. Aliquam sed congue ante. Nulla porta tellus non mattis elementum. Mauris cursus tincidunt risus, vitae consectetur leo imperdiet sed. Quisque a massa ipsum. Integer consectetur purus eget finibus gravida. Ut id nisi ex. Aenean tincidunt luctus pulvinar.
                            
                            
                           </p>
                       </div>
                    </div>
                    <div id="p3" class="tab-pane fade mb">
                        <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="partenaire container-fluid mat-elevation-z2">
                                <h3>APIX</h3>
                                <h5>Représentant: Omar Samb</h5>
                                <h5>Contact: contact@apix.sn</h5>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="partenaire container-fluid mat-elevation-z2">
                                <h3>Tolbi</h3>
                                <h5>Représentant: Rama Diop</h5>
                                <h5>Contact: contact@tolbi.sn</h5>
                            </div>
                        </div>
                    </div>
                    <div id="p4" class="tab-pane fade">
                    <app-comments></app-comments> 
                    </div>
                </div>
            </div>
            <div class="col-sm-12 container-fluid ">
                <div class="col-sm-3">
                    <button type="button" mat-raised-button color="primary"><mat-icon>favorite</mat-icon>Favoris</button>
                </div>
                <div class="col-sm-3">
                    <span class="center-column">
                        <span><strong> Noter</strong></span>
                        <span>
                            <span *ngFor="let i of stars;let indice=index;" (click)="noter(indice)" [ngStyle]="{'color':i?'var(--orange)':'gray'}" class="fa fa-star"></span>
                        </span>
                        
                    </span>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons">
                        <ul class="social">
                            <li>
                                <a class="twitter" href="#" title="twitter"></a>
                            </li>
                            <li>
                                <a class="facebook" href="#" title="facebook"></a>
                            </li>
                            <li>
                                <a class="google" href="#" title="google"></a>
                            </li>
                            <li>
                                <a class="linkedin" href="#" title="linkedin"></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                
                <!-- <button type="button" mat-raised-button color="primary"><mat-icon>share</mat-icon>Partager</button> -->
                
                
            </div>
        </div>
        
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
            <div class="mat-elevation-z2 apix-palmares-box" *ngFor="let projet of projetRecommandes" [routerLink]="['/detail-projet',categorie,projet?.id]">
                <div class=""   >
                        <img class="mat-elevation-z4"  src="{{projet?.img}}" style="width: 100%;"  alt="">
                </div>
                <div class="">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" >
                        <span class="palmares-title">
                            {{projet?.titre}}
                        </span>
                        <br>
                        <div class="palmares-description" style="max-height: 40px;overflow: hidden;word-break: break-all;" [innerHTML]="projet?.content">Unités de production de biogaz miniaturisées et autonomes pour les secteurs agricole et agro-alimentaire.</div>
                    </div>
                        <div class="col-sm-6">
                            <span class="fa fa-money"></span>
                            234 903 000
                        </div>
                        <div class="col-sm-6">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span style="color: gray;" class="fa fa-star"></span>

                           </div>
                        <div class="col-sm-12">
                            <span class="fa fa-map-marker"></span>
                            Dakar
                        </div>
                       
                </div>
            </div>
        </div>
    </div>
</div>
<app-site-footer></app-site-footer>