<app-toolbar></app-toolbar>
<div class="main">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-9 col-lg-9">
            <div class="col-sm-12">
                <img class="" src="assets/img/cover2.jpeg" style="width: 100%;" alt="">
            </div>
            <div class="col-sm-12">
                <h3>AGROSEN</h3> 
            </div>
            <div class="col-sm-12">
                <div class="center-column">
                    <!-- Tabs Heading Starts -->
                <ul class="nav nav-tabs">
                   <li class="active"><a data-toggle="tab" href="#p1">Description</a></li>
                   <li ><a data-toggle="tab" href="#p2">Promoteur</a></li>
                   <li ><a data-toggle="tab" href="#p3">Partenaires</a></li>
                   <li><a data-toggle="tab" href="#p4"><span class="fa fa-comment"></span> Commentaire</a></li>

                </ul>
               <!-- Tabs Heading Ends -->
                </div>
                <div class="tab-content mb">
                    <div id="p1"  class="tab-pane fade in active">
                        <div class="row col-sm-12">
                            <div class="col-sm-12 basic-infos">
                                <div class="col-sm-4">
                                    <span class="fa fa-money"></span> 450 000 000
                                </div>
                                <div class="col-sm-4">
                                    <span class="fa fa-map-marker"></span> Louga
                                </div>
                                <div class="col-sm-4">
                                    <span class="fa fa-star"></span> 2400 pts
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <p>
                                 En effet, ce projet a pour ambition de générer de l’information sur les besoins en matière de renforcement de capacités et d’élaboration de stratégie, d’instruments et de politiques d’appui à l’innovation agricole; d’appuyer les dynamiques en cours de transformation des systèmes agricoles et alimentaires vers plus de résilience et de durabilité et enfin de créer un environnement plus favorable pour les innovateurs.
     
                                 D’une durée de deux ans (2021-2023), le projet Tap-Ais intervient dans neuf pays: cinq en Afrique (Burkina Faso, Érythrée, Malawi, Rwanda et Sénégal), trois en Asie (Cambodge, Laos et Pakistan) et un en Amérique latine (Colombie). Il est mis en œuvre par l’Organisation des Nations Unies pour l’alimentation et l’agriculture (Fao) et est coordonné par le ministère de l’Agriculture et de l’Équipement rural (Maer) du Sénégal.
                                 
                                 Le projet Tap-Ais accompagnera le gouvernement du Sénégal dans sa stratégie de mise en œuvre de la transition agroécologique inscrite dans l’agenda politique depuis 2019. Les autorités sénégalaises s’appuieront sur ce projet, pour renforcer les collaborations entre la recherche agricole, le conseil agricole et rural, les institutions nationales, les organisations non gouvernementales et les interprofessions.
                                 
                                 «C’est un projet stratégique qui va permettre au gouvernement de disposer d’informations fiables et pertinentes. Le Sénégal accompagnera sa mise en œuvre par le renforcement de l’environnement favorable à l’innovation pour les programmes d’assistance aux petits producteurs vulnérables confrontés aux nombreux défis récurrents dont l’accès aux marchés, la fluctuation des prix, l’accès aux innovations technologiques et le changement climatique», a déclaré, Pape Malick Ndao, secrétaire général du ministère de l’Agriculture et de l’Equipement rural.
                                 
                                 «L’accompagnement des systèmes nationaux d’innovation agricole s’appuie sur le Cadre commun de travail développé par la Tap par le renforcement des capacités des acteurs pour une résilience de nos populations et la réduction de la pauvreté grâce à un système national agricole performant et adapté pour le développement d’une agriculture résiliente et durable», a souligné l’assistant au Représentant de la Fao au Sénégal et chargé de programme, Makhfousse Sarr.
                                 
                                 «Des innovations sont indispensable pour relever les défis qui affectent la durabilité de nos systèmes alimentaires et agricoles et DeSira est une plateforme destinée à améliorer l’accès des agriculteurs à l’innovation grâce à une meilleure intégration de la recherche agricole pour les plus pauvres», a expliqué le chef d’équipe emploi et croissance inclusive à la Délégation de l’Ue au Sénégal, Stéphane Devaux.
                                      
                                </p>
                            </div>   
                        </div>
                           
                    </div>
                    <div id="p2"  class="tab-pane fade">
                       <div class="row col-sm-12">
                           <h3>Omar Wade</h3>
                       </div>
                       <div class="row col-sm-12">
                           <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis libero felis, egestas at felis sit amet, bibendum posuere risus. Donec vitae diam ut orci bibendum gravida. Donec lectus lacus, porttitor a felis ac, finibus pharetra diam. Donec eleifend sapien non ipsum ornare, et tempus urna tempor. Duis scelerisque eros at nisi commodo volutpat. Ut finibus blandit mollis. Vestibulum ligula urna, aliquet non sodales vel, vehicula id odio. Morbi non ex in dui placerat ultrices. Integer imperdiet at magna quis condimentum. Donec eleifend venenatis leo in feugiat. Proin blandit, enim cursus venenatis bibendum, elit orci fermentum turpis, nec maximus odio risus ac libero.

                            Fusce feugiat id tellus eget tincidunt. In hac habitasse platea dictumst. Vestibulum et arcu consectetur, porta orci nec, pharetra nisi. Maecenas sodales sollicitudin mauris, nec dapibus lectus aliquam et. Donec pretium ex sed arcu porta fermentum. Etiam euismod elit mattis vulputate lobortis. Proin sollicitudin purus odio, ac pellentesque ipsum eleifend eget. Aliquam sed congue ante. Nulla porta tellus non mattis elementum. Mauris cursus tincidunt risus, vitae consectetur leo imperdiet sed. Quisque a massa ipsum. Integer consectetur purus eget finibus gravida. Ut id nisi ex. Aenean tincidunt luctus pulvinar.
                            
                            
                           </p>
                       </div>
                    </div>
                    <div id="p3" class="tab-pane fade mb">
                        <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="partenaire container-fluid mat-elevation-z2">
                                <h3>APIX</h3>
                                <h5>Représentant: Omar Samb</h5>
                                <h5>Contact: contact@apix.sn</h5>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6">
                            <div class="partenaire container-fluid mat-elevation-z2">
                                <h3>Tolbi</h3>
                                <h5>Représentant: Rama Diop</h5>
                                <h5>Contact: contact@tolbi.sn</h5>
                            </div>
                        </div>
                    </div>
                    <div id="p4" class="tab-pane fade">
                    <app-comments></app-comments> 
                    </div>
                </div>
            </div>
            <div class="col-sm-12 container-fluid center-row">
            
                <button type="button" mat-raised-button color="primary"><mat-icon>favorite</mat-icon>Favoris</button>
                
                <button type="button" mat-raised-button color="primary"><mat-icon>share</mat-icon>Partager</button>
                <span>
                    <span *ngFor="let i of stars;let indice=index;" (click)="noter(indice)" [ngStyle]="{'color':i?'var(--orange)':'gray'}" class="fa fa-star"></span>
                    
                </span>
            </div>
        </div>
        
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
            <div class="mat-elevation-z2 apix-palmares-box" *ngFor="let i of [1,1]" >
                <div class=""  routerLink="../detail-projet" >
                        <img class="mat-elevation-z4"  src="assets/img/cover2.jpeg" style="width: 100%;"  alt="">
                </div>
                <div class="">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" >
                        <span class="palmares-title">
                            Sen Biogaz
                        </span>
                        <br>
                        <span class="palmares-description">Unités de production de biogaz miniaturisées et autonomes pour les secteurs agricole et agro-alimentaire.</span>
                    </div>
                        <div class="col-sm-6">
                            <span class="fa fa-money"></span>
                            234 903 000
                        </div>
                        <div class="col-sm-6">
                            <span class="fa fa-star"></span>
                                2500 pts
                           </div>
                        <div class="col-sm-12">
                            <span class="fa fa-map-marker"></span>
                            Dakar
                        </div>
                       
                </div>
            </div>
        </div>
    </div>
</div>
<app-site-footer></app-site-footer>