.main{
    // padding: 4em;
    padding-left: 4em;
    padding-right: 4em;
}
.fa{
    color: gray;
}
@media (min-width: 292px) {
    
    .main{
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}
@media (min-width: 1024px) {
    
    .main{
        padding-left: 4em;
        padding-right: 4em;
    }
}

h3{
    color: var(--orange);
}
.fa{
    color: var(--orange);
}

.basic-infos{
    border: solid 1px var(--orange);
    border-radius: 0.7em;
    padding: 1em;
    margin-bottom: 1em;
}


.apix-img-hover {
    position: absolute;
    bottom: 0;
    background: rgb(241, 100, 6); /* Fallback color */
    background: rgba(241, 112, 6, 0.637); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    
    // padding: 4px;
    .title{
        font-size: 1.2em;
        margin:0.3em;
        border-bottom: solid 1px var(--blue);
        padding: 0.7em;
        
    }

    .infos{
        font-size: 0.89em;
        margin:0.3em;
        padding-bottom: 0.7em;
        padding-top: 0.7em;

    }
  }

  .partenaire{
      border: solid 1px var(--orange);
      border-radius: 0.7em;
      margin:0.7em;
  }

  .apix-palmares-box{
    display: flex !important;
    flex-direction: row !important;
    margin: 0.3em;
    color: black;
    cursor: pointer;
    margin-bottom: 0.9em;
    
    &:hover{
       background-image: linear-gradient(to right,white,white,white,white,white,white,rgba(248, 181, 125, 0.384));
    }
    .palmares-title{
        color: var(--blue);
        font-size: 1.3em;
    }
    .fa{
        color: var(--orange);
    }
}

 /* md */
   @media (min-width: 192px) {
    
    .apix-palmares-box{
        display: flex !important;
        flex-direction: column !important;
    }
}
/* lg */
@media (min-width: 1200px) {
    
    .apix-palmares-box{
        display: flex !important;
        flex-direction: column !important;
    }
}

.social-icons ul li a {
    background: transparent;
    display: block;
    width: 33px;
    height: 33px;
    line-height: 29px;
}
.social-icons ul li a:before {
    font-size: 12px;
}

.social-icons ul li a:hover {
    background-color: var(--blue);
}