.facts{
    h4{
        color: white;
    }
}
.services-box-item{
    margin-top: 1.5em;
}
.services-box-item-content{
    height: 20em;
    border: solid 1px lightgray;
}
.services-box-item-cover{
    height: 20em;
    background: black;
    overflow: hidden;
    font-weight: bold;
    :data-headline{
        font-weight: bold;
    }
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */

    img{
        border-radius: 5px;
        height: 20em;
        width: 100%;
    }
}

.palmares-box{
    border: solid 1px var(--blue);
    border-left: none;
    border-right: none;
    padding: 1em;
    color: black;
    margin-top: 1em;
    margin-bottom:1em;
   
    justify-items: center;
    align-items: center;

    &:hover{
        cursor: pointer;
        border-right: solid 0.5em var(--blue);
        
    }
    .palmares-rank{
        color: var(--orange);
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        min-height: 9em !important;
        background-color: red;
    }
    .palmares-img{
        width:100%;
        object-fit: cover;

        
    }

    /* md */
@media (min-width: 992px) {
    .palmares-img {
        width: 5em;
        padding-top: 2em;
    }
}
/* lg */
@media (min-width: 1200px) {
    .palmares-img {
        width: 5em;
        padding-top: 2em;

    }
}
    .palmares-title{
        display: block;
        color: var(--blue);
        font-size: 2em;
        margin-bottom: 0.7em;
        margin-top: 0.7em;
    }

    .palmares-rating{
        color: var(--orange);
        font-weight: bold;
        font-size: 2em;
    }
    
}

ul.nav.nav-tabs li.active a{
    color: var(--orange);
}
.tab.pane.fane{
    color: black;
}


.latest-post{
    margin-top: 1em;
}