<mat-nav-list>
  <div id="sidebar">
    <p class="APIX-LOGO">
      APIX LOGO <br /></p>
    <div class="div-connected-user">
      <p class="icon">
        <img src="assets/img/admin.png" alt="" class="admin-img" />
      </p>
      <p class="connected-user">
        <span style="font-weight: bold">{{user?.username}}</span> <br />
        <span style="font-size: 11px; font-weight: 300px"> {{user?.profil}}</span>
      </p>
    </div>
    <p>
      <a
        mat-list-item
        class="sidebar-menu"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/process/dashboard"
        routerLinkActive="active"
      >
        <mat-icon>dashboard</mat-icon>
        Tableau de bord
      </a>
    </p>
    <p>
      <a mat-list-item class="sidebar-menu"
        routerLink="messagerie"
        routerLinkActive="active">
        <mat-icon>email</mat-icon>
        Messagerie
      </a>
    </p>
    <p>
      <a mat-list-item class="sidebar-menu"
        routerLink="favoris"
        routerLinkActive="active">
        <mat-icon>favorite</mat-icon>
        Favoris
      </a>
    </p>
    
    <p>
      <a
        mat-list-item
        class="sidebar-menu"
        routerLink="list-project"
        routerLinkActive="active"
      >
        <mat-icon>work</mat-icon>
        <span *ngIf="user?.profil=='porteur'">Mes Projets</span>
        <span *ngIf="user?.profil!='porteur'">Les projets</span>
      </a>
    </p>
    <p>
      <a
        mat-list-item
        class="sidebar-menu"
        routerLink="partenaire"
        routerLinkActive="active"
      >
        <mat-icon>groups</mat-icon>
        <span *ngIf="user?.profil=='porteur'">Mes Partenaires</span>
        <span *ngIf="user?.profil!='porteur'">Les Partenaires</span>
      </a>
    </p>
    <p >
      <a
        mat-list-item
        class="sidebar-menu"
        routerLink="campagnes"
        routerLinkActive="active"
      >
        <mat-icon>campaign</mat-icon>
        Campagnes
      </a>
    </p>
    <p >
      <a
        mat-list-item
        class="sidebar-menu"
        routerLink="articles"
        routerLinkActive="active"
      >
        <mat-icon>article</mat-icon>
        Articles
      </a>
    </p>
    <p>
      <a mat-list-item class="sidebar-menu"
        routerLink="parameters"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        Paramètres
      </a>
    </p>
    <p *ngIf="user.profil == 'admin'">
      <a
        mat-list-item
        class="sidebar-menu"
        routerLink="utilisateur"
        routerLinkActive="active"
      >
        <mat-icon>manage_accounts</mat-icon>
        Utilisateurs
      </a>
    </p>
    
  </div>
</mat-nav-list>
