<mat-nav-list>
    <div id="sidebar">
      <p class="FLEMJOBS-LOGO">
        APIX LOGO
      </p>
      <p>
        <a mat-list-item class="sidebar-menu" [routerLinkActiveOptions]="{exact: true}" routerLink="/process/dashboard"
          routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          Tableau de bord
        </a>
      </p>
      <p>
        <a mat-list-item class="sidebar-menu" routerLink="list-project" routerLinkActive="active">
          <mat-icon>work</mat-icon>
          Mes Projets
        </a>
      </p>
      <p>
        <a mat-list-item class="sidebar-menu" routerLink="#" routerLinkActive="active">
          <mat-icon>groups</mat-icon>
          Mes Partenaires
        </a>
      </p>
    </div>
  
  </mat-nav-list>
  