<section id="main">  
  
    <div class="row container-fluid  mb">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 mt" *ngFor="let i of [1,1,1,1,1]">
          <div class="mat-elevation-z2 apix-palmares-box" >
            <div class=""  routerLink="../detail-projet" >
                    <img class="mat-elevation-z4"  src="assets/img/cover2.jpeg" style="width: 100%;"  alt="">
            </div>
            <div class="">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" >
                    <span class="palmares-title">
                        Sen Biogaz
                    </span>
                    <br>
                    <span class="palmares-description">Unités de production de biogaz miniaturisées et autonomes pour les secteurs agricole et agro-alimentaire.</span>
                </div>
                    <div class="col-sm-6">
                        <span class="fa fa-money"></span>
                        234 903 000
                    </div>
                    <div class="col-sm-6">
                        <span class="fa fa-star"></span>
                            2500 pts
                       </div>
                    <div class="col-sm-12">
                        <span class="fa fa-map-marker"></span>
                        Dakar
                    </div>
                   
            </div>
        </div>
        </div>
        
    </div>
</section>
