.bmc-card{
    border: solid 1px lightgray;
    border-radius: 0.5em;
    background-color: white;
}

.bmc-row{
    display: flex;
    flex-wrap: wrap;
}
.bmc-f-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.1em;
    // background-color: green;
}
.bmc-f-row{
    flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
    The percent can be px. It just represents your minimum starting width.
     */
    //  background: yellow;
     min-height: 14.3em;
     height: 100%;
     
    //  color: white;
}
.bmc-col{
    flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 5px;
//   background: tomato;
  height: 30em;
  // height: 100%;
//   color: white;
 
}

.bmc-col2{
    flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 5px;
//   background: tomato;
  min-height: 10em;
  height: 100%;
//   color: white;
 
}
a{
    float: right;
    cursor: pointer;
    color:var(--orange);
    font-weight: bold;
    
}

@media (max-width: 800px) {
    .bmc-row {
      flex-direction: column;
    }
    a{
        float: none;
    }
  }

  .bmc-card-title{
      margin: 0.7em;
      margin-bottom: 1em;
  }
  .mlr{
      margin: 0.3em;
    //   margin-left: 0.1em;
    //   margin-right: 0.2em;
  }

  .float-right{
    float: right;
  }

  .cursor{
    cursor: pointer;
  }

  example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: right;
    align-items: right;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }


  /*tooltip Box*/
.con-tooltip {

  position: relative;
  background: #F2D1C9;
  
  border-radius: 9px;
  padding: 0 20px;
  margin: 10px;
  
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: default;

}

.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  
  width: 100%;
  padding: 0px 20px;

  background: #333;
  color: #E086D3;
  
  position: absolute;
  top:-140%;
  left: -25%;
  

  border-radius: 9px;
  font: 16px;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;

  position: absolute;
  left: 40%;

}

.con-tooltip:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
    transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
  0%{
    transform: translateY(6px); 
  }

  100%{
    transform: translateY(1px); 
  }

}

/*hover ToolTip*/
.left:hover {transform: translateX(-6px); }
.top:hover {transform: translateY(-6px);  }
.bottom:hover {transform: translateY(6px);}
.right:hover {transform: translateX(6px); }



/*left*/

.left .tooltip{ top:-20%; left:-170%; }

.left .tooltip::after{
  top:40%;
  left:90%;
  transform: rotate(-90deg);
}




/*bottom*/

.bottom .tooltip { top:115%; left:-20%; }

.bottom .tooltip::after{
  top:-17%;
  left:40%;
  transform: rotate(180deg);
}



/*right*/

.right .tooltip { top:-20%; left:115%; }

.right .tooltip::after{
  top:40%;
  left:-12%;
  transform: rotate(90deg);
}