<section id="main">  
    <div class=" col-sm-12">
        <div class="flex-row-gap">
            <mat-form-field appearance="fill">
                   <mat-label>Ninea</mat-label>
                    <input type="text" matInput>
                 </mat-form-field>
             <mat-form-field appearance="fill">
               <mat-label>Nom</mat-label>
                <input type="text" matInput>
             </mat-form-field>
             <mat-form-field appearance="fill">
               <mat-label>Email</mat-label>
                <input type="email" matInput>
             </mat-form-field>
             <mat-form-field appearance="fill">
               <mat-label>Secteur</mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
             </mat-form-field>
             <div class="align-center">
               <button mat-mini-fab color="primary" ><mat-icon>search</mat-icon></button>
             </div>
   
           </div>
    </div>
    <div class="row container-fluid  mb">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 mt" *ngFor="let i of [1,1,1,1,1]">
          <div class="mat-elevation-z2 apix-palmares-box" >
            <div class=""  routerLink="../detail-projet" >
                    <img class="mat-elevation-z4"  src="assets/img/cover2.jpeg" style="width: 100%;"  alt="">
            </div>
            <div class="">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" >
                    <span class="palmares-title">
                        Sen Biogaz
                    </span>
                    <br>
                    <span class="palmares-description">Unités de production de biogaz miniaturisées et autonomes pour les secteurs agricole et agro-alimentaire.</span>
                </div>
                    <div class="col-sm-6">
                        <span class="fa fa-money"></span>
                        234 903 000
                    </div>
                    <div class="col-sm-6">
                        <span class="fa fa-star"></span>
                            2500 pts
                       </div>
                    <div class="col-sm-12">
                        <span class="fa fa-map-marker"></span>
                        Dakar
                    </div>
                    <div class="col-sm-12 align-right pb mb">
                        <button class="mb" mat-stroked-button color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf="user?.profil=='admin' || user?.profil=='intervenant'" >
                                <mat-icon >done</mat-icon>
                                <span >Autoriser</span>
                            </button>
                            <button mat-menu-item >
                                <mat-icon >visibility</mat-icon>
                                <span >voir</span>
                            </button>
                            <button mat-menu-item >
                                <mat-icon >chat</mat-icon>
                                <span >Contacter le promotteur</span>
                            </button>
                            <button mat-menu-item >
                                <mat-icon >comment</mat-icon>
                                <span >commentaires</span>
                            </button>
                            <button mat-menu-item *ngIf="user?.profil=='partenaire'" (click)="participer()">
                                <mat-icon >subscriptions</mat-icon>
                                <span >participer au projet</span>
                            </button>
                            
                            <button  mat-menu-item>
                              <mat-icon color="warn">delete</mat-icon>
                              <span>Supprimer</span>
                            </button>
                            
                           
                          </mat-menu>
                    </div>
            </div>
        </div>
        </div>
        
    </div>
</section>
