<app-toolbar></app-toolbar>
<section class="main container-fluid ">
    
    <div class="center-column bg-img">
        <div class="col-xs-12 col-lg-5 col-md-5 col-sm-12">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class=" container-fluid mat-elevation-z2 pb pt br bg-white" >
                <div class="container-fluid mt center-column">
                   <div class="container-fluid">
                    <h3 class="text-primary">Authentification</h3>
                   </div>
                    <!-- <strong class="text-primary">Authentification</strong> -->
                </div>
                <div class="container-fluid  center-column">
                    <!-- <img src="assets/img/auth.svg" width="200px" height="100px" alt=""> -->
                </div>
                <div class=" container-fluid mt">
                    <mat-form-field  class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" matInput>
                        <mat-error *ngIf="formGroup.get('email')?.hasError('required')">champs obligatoire</mat-error>
                        <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Veuillez-saisir un email valide</mat-error>

                    </mat-form-field>
                </div>

                <div class=" container-fluid">
                    <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                        <mat-label>Mot de passe</mat-label>
                        <input formControlName="password" type="password" matInput>
                        <mat-error *ngIf="formGroup.get('password')?.hasError('required')">champs obligatoire</mat-error>

                    </mat-form-field>
                </div>
                
                <div class="container-fluid center-column pb mb">
                    <button type="submit" color="primary" mat-stroked-button >Se connecter</button>
                </div>
                <div class="container-fluid center-column pb mb" *ngIf="loginError">
                    <span style="color: red; ">Email ou mot de passe incorrect</span>
                </div>
                
            </form>
           
        </div>
    </div>
   
</section>