<div class="container-fluid">
    <div >
        <div class=" container-fluid">
            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                <mat-label>Nombre de ressources</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        
    </div>
    <div >
        <div class=" container-fluid">
            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                <mat-label>Fonction</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        
    </div>
    <div >
        <div class=" container-fluid">
            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                <mat-label>Salaire</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        
    </div>
    <div >
        <div class=" container-fluid">
            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                <mat-label>Contrat</mat-label>
                <mat-select>
                    <mat-option value="cdi">CDI</mat-option>
                    <mat-option value="cdd">CDD</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
    <div class="center-column">
        <div class="center-row" mat-dialog-actions>
            <button mat-stroked-button color="warn" mat-dialog-close>fermer</button>
            <button mat-raised-button color="primary">valider</button>
        </div>
    </div>
</div>