<footer id="footer" class="footer" data-bg-img="images/footer-bg.png" data-bg-color="#25272e">
    <div class="container-fluid pt-70 pb-40">
      <div class="row border-bottom-black">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <img class="mt-10 mb-20" alt="" src="images/Menu_Logo.png">
            <p>52 - 54 Rue Mohamed V
              BP 430 CP 18524 Dakar RP Sénégal</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray"
                  href="#"> (+221) 33 849 05 55</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored mr-5"></i> <a
                  class="text-gray" href="#">infos@apix.sn</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored mr-5"></i> <a class="text-gray"
                  href="https://investinsenegal.com/">www.investinsenegal.com</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Derniers Nouvelles</h5>
            <div class="latest-posts">
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="#">CINQ QUESTIONS À SE POSER AVANT </a></h5>
                  <p class="post-date mb-0 font-12">Mar 04, 2022</p>
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="#">POURQUOI FAIRE APPEL À UN MENTOR </a></h5>
                  <p class="post-date mb-0 font-12">Mar 08, 2022</p>
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                <a href="#" class="post-thumb"><img alt="" src="http://placehold.it/80x55"></a>
                <div class="post-right">
                  <h5 class="post-title mt-0 mb-5"><a href="#">MA RECHERCHE DE COMPÉTENCES</a></h5>
                  <p class="post-date mb-0 font-12">Mar 08, 2022</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Liens utiles</h5>
            <ul class="list angle-double-right list-border">
              <li><a href="#">Accueil</a></li>
              <li><a href="#">À propos</a></li>
              <li><a href="#"> Contact</a></li>
      
              <li><a href="#">Connexion</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Événements à venir</h5>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span> Foire commercial  </span>
                  <div class="value pull-right">  12h:00 - 15h:00 </div>
                </li>
                <li class="clearfix"> <span> Forum économique </span>
                  <div class="value pull-right"> 12h:00 - 15h:00  </div>
                </li>
                <li class="clearfix"> <span>  Semaine de l'entrepreneuriat </span>
                  <div class="value pull-right">  12h:00 - 15h:00</div>
                </li>
                <li class="clearfix"> <span>Journée internationale  </span>
                  <div class="value pull-right">12h:00 - 15h:00 </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-md-5">
          <div class="widget dark">
            <h5 class="widget-title mb-10">Abonnez-vous</h5>
            <!-- Mailchimp Subscription Form Starts Here -->
            <form id="mailchimp-subscription-form-footer" class="newsletter-form">
              <div class="input-group">
                <input type="email" value="" name="EMAIL" placeholder="Votre email"
                  class="form-control input-lg font-16" data-height="45px" id="mce-EMAIL-footer"
                  style="height: 45px;">
                <span class="input-group-btn">
                  <button data-height="45px" class="btn btn-colored btn-theme-colored btn-xs m-0 font-14"
                    type="submit">Abonnez-vous</button>
                </span>
              </div>
            </form>
            <!-- Mailchimp Subscription Form Validation-->
            <script type="text/javascript">
              //code pour afficher langaue de traduction
              jQuery('a.langu').hide();
             jQuery('i.fa.fa-language.onepage-nav.menuzord-menu').click(function(){
              jQuery('a.langu').toggle(1000);
             });
              $('#mailchimp-subscription-form-footer').ajaxChimp({
                callback: mailChimpCallBack,
                url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
              });

              function mailChimpCallBack(resp) {
                // Hide any previous response text
                var $mailchimpform = $('#mailchimp-subscription-form-footer'),
                  $response = '';
                $mailchimpform.children(".alert").remove();
                console.log(resp);
                if (resp.result === 'success') {
                  $response = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                } else if (resp.result === 'error') {
                  $response = '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + resp.msg + '</div>';
                }
                $mailchimpform.prepend($response);
              }
            </script>
            <!-- Mailchimp Subscription Form Ends Here -->
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="widget dark">
            <h5 class="widget-title mb-10">Appelez-nous</h5>
            <div class="text-gray">
              Tél. : (+221) 33 849 05 55 <br>

              Fax : (+221) 33 823 94 89 
           
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget dark">
            <h5 class="widget-title mb-10">Connectez-vous à nous</h5>
            <ul class="styled-icons icon-dark icon-theme-colored icon-circled icon-sm">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-black-333">
      <div class="container pt-15 pb-10">
        <div class="row">
          <div class="col-md-6">
            <p class="font-11 text-black-777 m-0">Copyright &copy;2022 APIX  CONÇU PAR <a href="http://www.agencewebgram.com/"> WEBGRAM.</a>🇸🇳</p>
          </div>
          <!--
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Help Desk</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Support</a>
                </li>
              </ul>
            </div>
          </div>  -->
        </div>
      </div>
    </div>
  </footer>
  
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>