<div class="container-fluid mt">
    <mat-stepper [disableRipple]="true" style="display: flex; flex-wrap: wrap;"
        [orientation]="(stepperOrientation | async)!">
        <mat-step style="display: flex; flex-wrap: wrap;">
            <ng-template matStepLabel>Plan de financement</ng-template>
            <div class="">
                <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12  br">
                    <div class="container-fluid center-column "> Besoins</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Capital</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Frais de constitution</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Bail Commercial</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Travaux d'aménagements</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Investissement matériels</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Stock</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Besoin en Fonds de roulement</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Besoin en Fonds de roulement</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 col-md-6  col-sm-12   br">
                    <div class="container-fluid center-column">Ressources</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Apports personnel des associés</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Subventions</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Aides</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Prêts d'honneur</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Emprunts bancaires sollicités</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12 center-column container-fluid ">

                <div class="center-row">
                    <button mat-raised-button color="primary">Enregistrer</button>
                    <button mat-stroked-button color="primary" matStepperNext>Suivant</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Détail des besoins</ng-template>

            <div class="row col-sm-12 mt">

                <div class="row col-sm-12">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12  br">
                        <div class=" center-column "> Détail de la composition du capital</div>
                        <div class="border-bottom mb"></div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Associé 1</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Associé 2</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Associé 3</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Total</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12  br">
                        <div class="center-column "> Détail des frais de constitution</div>
                        <div class="border-bottom mb"></div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Honoraire d'avocat</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Honoraire expert comptable</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Total</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12  br">
                        <div class=" center-column "> Détail acquisition du fond de commerce, bail commercial</div>
                        <div class="border-bottom mb"></div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Dépot de garantie</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Agence loyers</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Total</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="row col-sm-12">
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12  br">
                        <div class=" center-column "> Détail des travaux et aménagements</div>
                        <div class="border-bottom mb"></div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Réfection,rénovation boutique</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Mobilier,aménagements divers</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Total</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12  br">
                        <div class=" center-column "> Détail des investissements matériels</div>
                        <div class="border-bottom mb"></div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Machine 1</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Machine 2</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Informatique</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Total</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12  br">
                        <div class=" center-column "> Détail du stock</div>
                        <div class="border-bottom mb"></div>
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Reprise stock au jour d'inventaire</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="row ">
                                <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                    <mat-label>Total</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                </div>


            </div>



            <div class="row col-sm-12 center-column container-fluid ">
                <div class="center-row">
                    <button mat-stroked-button color="primary" matStepperNext>Précédent</button>
                    <button mat-raised-button color="primary">Enregistrer</button>
                    <button mat-stroked-button color="primary" matStepperNext>Suivant</button>

                </div>

            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Détail des ressources</ng-template>
            <div class="row col-sm-12 mt">
                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12  br">
                    <div class=" center-column "> Détail des apports personnels des associés</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Associé 1</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Associé 2</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Associé 3</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12  br">
                    <div class=" center-column ">Détail des subventions et aides</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Aide à la création d'entreprise</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12  br">
                    <div class=" center-column ">Détail des prêts d'honneur</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Prêt d'honneur Création d'entreprise de la Mairie</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12  br">
                    <div class=" center-column ">Détails des emprunts bancaire sollicités</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Prêt Travaux classique</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Prêt Mobilier classique</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Crédit Bail Informatique</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Crédit Bail mobilier</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Découvert autorisé </mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="row ">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-sm-12 center-column container-fluid ">
                <div class="center-row">
                    <button mat-stroked-button color="primary" matStepperNext>Précédent</button>
                    <button mat-raised-button color="primary">Enregistrer</button>
                    <button mat-stroked-button color="primary" matStepperNext>Suivant</button>

                </div>

            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fond de roulement et besoins en fond de roulement</ng-template>
            <div class="row col-sm-12 mt">
                <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12  br">
                    <div class="container-fluid center-column "> Actif immobilisé</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Constructions</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Travaux</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Cautions financières</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Investissements</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Bail</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 col-md-6  col-sm-12   br">
                    <div class="container-fluid center-column">Passif immobilisé</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Apports personnel des associés</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Capital social</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Réserves légales et stat</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Report de résultat</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Apports comptes associés</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Subventions, aides</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Dette à moyen et long terme</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row col-sm-12">
                    <div class="container-fluid center-column">Fonds de roulement</div>
                    <div class="border-bottom mb"></div>
                </div>

                <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12  br">
                    <div class="container-fluid center-column "> Actif circulant</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Stocks</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Clients</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Charges sociales</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12  br">
                    <div class="container-fluid center-column "> Actif circulant</div>
                    <div class="border-bottom mb"></div>
                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Fournisseurs</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>Total</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>




                <div class="row col-sm-12">
                    <div class="container-fluid center-column">Besoin en fonds de roulement</div>
                    <div class="border-bottom mb"></div>
                </div>

                <div class="row col-sm-12">
                    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>TRESORERIE POSITIVE</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
                        <div class=" container-fluid">
                            <mat-form-field class="container-fluid w-100" color="primary" appearance="fill">
                                <mat-label>TRESORERIE NEGATIVE</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row col-sm-12 center-column container-fluid ">
                <div class="center-row">
                    <button mat-stroked-button color="primary" matStepperNext>Précédent</button>
                    <button mat-raised-button color="primary">Enregistrer</button>
                    <button mat-stroked-button color="primary" matStepperNext>Suivant</button>

                </div>

            </div>

        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Comptes d'exploitation</ng-template>

            <div class="row mt">
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>CHIFFRE D'AFFAIRE TTC</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>CHIFFRE D'AFFAIRE HT</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>ACHATS</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>MARGE BRUTE</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Loyer</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Charges locatives</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>SENELEC</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Entretien</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Papeterie</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Publicité, frais de recept</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Assurances</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Honoraires</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>SONATEL</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Loyers de Crédits Bail</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Frais de banque</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>GHARGES EXTERNES</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Salaires</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Charges sur salaires</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Frais de personnel</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Impôts et taxes</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Travaux sur 10 ans</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Travaux sur 5 ans</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Amortissements</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Résultats d'exploitation courant</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Prêts / 7 ans</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Prêts / 5 ans</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Charges financières</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Résultats d'exploitation avant impôts</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Impôts sur les sociétés</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
                    <mat-form-field class="container-fluid" appearance="fill">
                        <mat-label>Résultat net après impôt</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row col-sm-12 center-column container-fluid ">
                <div class="center-row">
                    <button mat-stroked-button color="primary" matStepperNext>Précédent</button>
                    <button mat-raised-button color="primary">Enregistrer</button>
                </div>

            </div>
        </mat-step>
    </mat-stepper>
</div>