<div class="container-fluid">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <section class="example-section" >
            <h4>Comment compter vous participer au projet?</h4>
            <p><mat-checkbox >Investisseur</mat-checkbox></p>
            <p><mat-checkbox >Business angel</mat-checkbox></p>
            <p><mat-checkbox >Associé</mat-checkbox></p>
            <p><mat-checkbox >Logistique</mat-checkbox></p>
            <p><mat-checkbox >Financier</mat-checkbox></p>
            <p><mat-checkbox >Technique</mat-checkbox></p>
            <p><mat-checkbox >Commercial</mat-checkbox></p>

          </section>
    </div>

    <div class="mt col-sm-12" mat-dialog-actions>
        <button mat-stroked-button color="warn" mat-dialog-close>fermer</button>
        <button mat-raised-button color="primary">valider</button>
    </div>
</div>
